body *{ box-sizing: border-box; }
:root{
	--border-color: #e0e1e6;
	--hover-color: #eee;
	--primary-color: #0077ee;
	--secondary-color: #5c6370;
	--danger-color: #e00000;
	--success-color: #388600;
	--success-hover-background: #368100;
	--gray-color: #6b7280;
	--input-color: black;
	--tab-color: #cecece;
	--text-color: #333;
}
.page_title{
	margin-top: 5px;
	margin-bottom: 10px;
}
body.vscode-dark{
	--border-color: var(--vscode-editorGroup-border, #333);
	--hover-color: var(--vscode-list-hoverBackground, #3a3a3a);
	--primary-color: var(--vscode-button-background, #0e639c);
	--secondary-color: var(--vscode-button-secondaryBackground, #6c757d);
	--danger-color: var(--vscode-errorForeground, #cf6679);
	--success-color: var(--vscode-terminal-ansiGreen, #28a745);
	--success-hover-background: #23943d;
	--gray-color: var(--vscode-button-secondaryBackground, #6c757d);
	--input-color: var(--vscode-input-foreground, white);
	--tab-color: var(--vscode-editorGroupHeader-tabsBackground, #cecece);
	--text-color: var(--vscode-foreground, #cccccc);
}